@font-face {
    font-family: "swistblnk_monthoersregular";
    src: url("/assets/font/monthoers-webfont.woff2")
        format("woff2"),
      url("/assets/font/monthoers-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

@import "function.scss";
@import "variables.scss";

@import "components/layout.scss";

*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;       
}
.home{
  background-color:white;
  
}

