/* variabili custom evergreen shop  */

$textDark: #000;
$textLight: #fff;

$dark: #000;
$light: #fff;

$border-radius-35: 35px;


/* breakpoints Bootstrap4 shortcut */

$minXl: "min-width: 1139px";
$maxXl: "max-width: 1141px";

$minLg: "min-width: 959px";
$maxLg: "max-width: 961px";

$minMd: "min-width: 719px";
$maxMd: "max-width: 721px";

$minSm: "min-width: 539px";
$maxSm: "max-width: 541px";
