.cardWeed{
    position:relative;
    border-radius:35px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.15); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.15);
    transition: all 0.5s;
    z-index:1;
    &:after{
        content:'';
        position:absolute;
        top:0;
        left:0;
        border-radius: 35px;
        width:100%;
        height:100%;
        -webkit-box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.09); 
        box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.09);
        z-index:-1;
    }
    &:hover{
        cursor:pointer;
        transform: scale(1.05);
        transition: all 0.5s;
        //transition-delay: .2s;
        -webkit-box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.02); 
        box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.02);
        &:after{
            content:'';
            position:absolute;
            top:0;
            left:0;
            border-radius: 35px;
            width:100%;
            height:100%;
            -webkit-box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.0); 
            box-shadow: 0px 0px 27px 9px  rgba(0,0,0,.01);
            z-index:-1;
        }

    }
}