.header{
    z-index:99;
    position:fixed;
    margin-top:3vh;
    margin-left: 3vh;
    width: 75px;
    height: 75px;
    backdrop-filter: blur(8px);
    background: rgba(255,255,255,.5);
    display:flex;
    justify-content: center;
    border-radius:15px;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.3);
    transition: all .3s;
    &:hover{
        background: rgba(255,255,255,1);
        transition: all .5s;
        cursor:pointer;
        -webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.6);
        &:before{
            -webkit-box-shadow: 0px 0px 30px 14px rgba(255,255,255,.25);
            -moz-box-shadow: 0px 0px 30px 14px rgba(255,255,255,.25);
            box-shadow: 0px 0px 30px 14px rgba(255,255,255,.25);
        }
    }
    img{
        height:35px;
        
    }
    &:before{
        position:absolute;
        content:'';
        background-color: transparent;
        width: 75px;
        height: 75px;
        z-index:-5;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 30px 14px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 30px 14px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 30px 14px rgba(0,0,0,0.1);
    }
}