.modalWeed{
    position: fixed;
    height:100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    padding:0px!important;
    transition: all 0.5s;
    z-index:99;
    overflow:hidden;


    .card{
        transition: all 0.5s;
        position: absolute;
        height:100%;
        width: 100%;
        background-color: gray;
        border-radius: 0px;
        padding: 0px!important;
        &:hover{
            transform: none;
        }

    }
}