.carousel-wrapper{
    width: 100vw;
    overflow:hidden;
    box-sizing: border-box;
    .carousel{
        transform-style: preserve-3d;
        .carousel__photo{
            opacity: 0;
            position: absolute;
            top:0;
            width: 100%;
            margin: auto;
            transition: transform .5s, opacity .5s, z-index .5s;
            z-index: 100;
            img{
                width: 100%;
            }
        }
        .initial,.active{
            opacity:1;
            position: relative;
            z-index: 900;
        }

        .carousel__button--next{
            z-index: 800;
            transform: translateX(-100%);
            right:2vw;
            &:after{
                left: 47%!important;
                transform: translate(-50%, -50%) rotate(-45deg)!important;
            }
        }
        .carousel__button--prev{
            z-index: 800;
            transform: translateX(100%);
            left:2vw;

        }
        .carousel__button--next,.carousel__button--prev{
            z-index: 800;
            position: absolute;
            top:50%;
            width: 3rem;
            height: 3rem;
            background-color: #fff;
            transform: translateY(-49%);
            border-radius: 50%;
            cursor: pointer;
            z-index: 1001;
            border: 1px solid black;
            &:after{
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                top:50%;
                left:55%;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                transform: translate(-50%, -50%) rotate(135deg);
            }

        }
    
    }
}