<template>

  <div class="about">
    <SliderJs /> 
  </div>
</template>

<script>
// @ is an alias to /src
import SliderJs from '@/components/SliderJs.vue'

export default {
  name: 'about',
    data(){
   return{
   }
  },
  components: {
    SliderJs
  }
}
</script>
