<template>
	<div class="home">
		<SliderHome/>
		<div class="container-fluid">
			<div class="row px-2 d-flex justify-content-center ">
				<cardProductsWeed 
					v-for="weed in getProductsWeed" 
					:key="weed.name" 
					:item="weed" 
					/>
			</div>
		</div>

	</div>
</template>

<script>
// @ is an alias to /src
import cardProductsWeed from "@/components/cardProductsWeed.vue";
import SliderHome from "@/components/SliderHome.vue";
export default {
	name: "Home",
	data() {
		return {
		};
	},
    computed: {
		getProductsWeed: function () {
			return this.$store.getters.getProductsWeed;
		},    
    },
	components: {
		cardProductsWeed,
		SliderHome
	},
};
</script>

<style lang="scss" scoped >
.body {
	height: 100vh;
	background-color: cyan !important;
}
#app.body {
	height: 100vh;
	background-color: red !important;
}
.home .container-fluid{
	margin-top: -10vh;
}
@media screen and (max-width: 992px) {
.home .container-fluid{
	margin-top: -5vh;
}
}

</style>