<template>
<div class=" p-4 "  
	:class="[weedActive ?  'modalWeed' : 'col-12 col-md-6 col-lg-4 col-xl-3']">
	<div class="card cardWeed " :class="item.active">
		<div class="card-body bg-light">
			<h5 class="card-title">{{item.name}}</h5> 
			<hr>
			<p class="card-text">{{item.description}} </p>
			<div class="imgWeed" v-if='weedActive === true'>
				<h3>{{modalWeed}} {{item.name + item.thc}}</h3>
			</div>
			
			<center>
				<table class="table" style="width: 33%">
					<thead>
						<tr>
							<th class="col text-center">THC</th>
							<th class="col text-center">CBD</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">{{item.thc}}</td>
							<td class="text-center">{{item.cbd}}</td>
						</tr>
					</tbody>
				</table>

			</center>
		</div>
		<div class="card-footer">
				<div class="cta d-flex justify-content-center">
					<a data-bs-toggle="modal" :data-bs-target="'#cardProductsWeed'+item.id" class="btn btn-primary mx-2">Info</a>
					<a href="#" class="btn btn-primary mx-2" >Add to Cart</a>
				</div>
		</div>
		
</div>
		<!-- Modal -->
		<div class="modal fade" :id="'cardProductsWeed'+item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body p-0">

		<div class="card-body">
			<div class="modalHeader d-flex justify-content-between">
				<h5 class="card-title my-auto ">{{item.name}}</h5>
				<button type="button" class="btn btn-secondary  my-auto " data-dismiss="modal">X</button>
			</div>
			<hr>
			<p class="card-text">{{item.description}}</p>
			<center>
				<table class="table" style="width: 33%">
					<thead>
						<tr>
							<th class="col text-center">THC</th>
							<th class="col text-center">CBD</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">{{item.thc}}</td>
							<td class="text-center">{{item.cbd}}</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div> 

	</div> 
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
				</div>
			</div>
		</div> 

	</div>
</template>

<script>
export default {
	name: "cardProductsWeed",
	props: ["item"],
	data(){
		return {
			weedActive: false
		}
	},

	methods: {
		weedModal(){
			this.weedActive = !this.weedActive
		}
		
	}
}
</script>