<template>
<nav class="navbar navbar-light bg-light">
  <div class="container d-flex">
    <a class="navbar-brand justify-content-start" href="#">
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
    <div class="menu justify-content-end">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/checkout">O</router-link>

    </div>
  </div>
</nav>
     
</template>

<script>
export default {
}
</script>