<template>
<div class="carousel-wrapper">
  <div class="carousel">
    <img class="carousel__photo initial" src="@/assets/img/slider/slider3.jpg">
    <img class="carousel__photo" src="@/assets/img/slider/slider1.jpg">
    <img class="carousel__photo" src="@/assets/img/slider/slider2.jpg">
    <img class="carousel__photo" src="@/assets/img/slider/slider3.jpg">
      
    <div class="carousel__button--next"></div>
    <div class="carousel__button--prev"></div>
  </div>
</div>

</template>

<script>
export default {
    name: 'SliderJs',
        data(){

            return{

            itemClassName : "carousel__photo",
            items : document.getElementsByClassName(itemClassName),
            totalItems : items.lenght,
            slide : 0,
            moving : true,

            }
        },
  components:{
  },

  methods:{
      setInitialClasses(){
          // targets the previous, current, and next items
          //this assumes there are at least three items.
          this.items[totalItems - 1].classList.add("prev");
          this.items[0].classList.add("active");
          this.items[1].classList.add("next");
      },
      setEventListeners() {
          var next = this.document.getElementsByClassName('carousel__button--next')[0],
              prev = this.document.getElementsByClassName('carousel__button--prev')[0];

              next.addEventListener('click', moveNext);
              prev.addEventListener('click', movePrev);
      },
      moveNext(){
          //check if moving
          if(!moving){
              // if it's the last slide, reset to 0, else +1
              if(this.slide === (this.totalItems -1)){
                  this.slide = 0;
              }else{
                  this.slide++;
              }
              //move carousel to updated slide
              moveCarouselTo(slide);
          }
      },
      movePrev(){
          //check if moving
          if(!moving){
              // if it's the last slide, reset to 0, else -1
              if(this.slide === (this.totalItems -1)){
                  this.slide = 0;
              }else{
                  slide--;
              }
              //move carousel to updated slide
              moveCarouselTo(slide);
          }
      },
      moveCarouselTo(slide){
          // check if caoursel is movint, if not, allow interaction
          if(!moving){
              disableInteraction();
    // update the old adjacent slides with new ones
            var newPrevious = slide -1,
            newNext = slide + 1,
            oldPrevious = slide -2,
            oldNext = slide + 2;
            if((totalItems -1)> 3){
                //check and updates id the news slides are out of bounds
                if(newPrevious <= 0) {
                    oldPrevious = (totalItems -1);
                } else if (newNext >= (totalItems - 1)){
                    oldNext = 0;
                }
                //check and update if slide is at the beginning/end
                if(slide === 0){
                    newPrevious = (totalItems -1);
                    oldPrevious = (totalItems -2);
                    oldNext = (slide +1);
                } else if(slide === (totalItems -1)){
                    newPrevious = (slide -1);
                    newNext = 0;
                    oldNext = 1;
                }
                //now we0ve worked out where we are and where we're going
                // by adding/removing classes we'll trigger the transition.

                //reset old next/prev elements to default classes
                items[oldPrevious].className = itemClassName;
                items[oldNext].className = itemClassName;

                // add new classes
                items[newPrevious].className = itemClassName + " prev";
                items[slide].className = itemClassName + " active";
                items[newNext].className = itemClassName + " next";
            }
          }
      },
       initCarousel(){
          setInitialClasses();
          setEventListeners();

          //set moving to false so that the carousel becomes interactive
          moving = false;
      }

  },
    created:{
        function(){
            initCarousel();
        },
    }
}
</script>